<div class="small-12 columns fencers-index">
  <% @fencers.each do | fencer |%>
  <div class="small-12 medium-6 large-4 end columns media-object">
    <div class="media-object-section">
      <a href="/fencers/<%= fencer.id %>"> <img class="thumbnail" src="<%= fencer.avatar %>" style="width: 125px; height: 125px"></a>
    </div>
    <div class="media-object-section">
      <h5><%= link_to fencer.name, fencer_path(fencer) %></h5>
    </div>
  </div>
  <% end %>
  <div class="">


  <%= link_to "Add New Fencer", new_fencer_path, class: "button purple-button" %>
    </div>
    <hr>

</div>
